.error{
    border:1px solid red;
    width: fit-content;
}
.error-text{
    color:red;
}

input{
    height: 30px;
    border-radius: 5px;
    outline: none;
    width: 175px;
}

button.submit{
    width: 175px;
    border-radius: 7px;
    height: 40px;
    margin: 1rem 0;
}